/*
 * Saque e Pague Sonda
 * Modelo de API para o serviço de sonda da Saque e Pague. Parceiro pode requisitar o último estado de uma transação (cancelada, confirmada ou pendente) através das chamadas desta API. Caso não encontre a transação, o serviço retorna o estado pendente.
 *
 * OpenAPI spec version: 1.1.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package br.com.saqueepague.sonda;

import br.com.saqueepague.ApiCallback;
import br.com.saqueepague.ApiClient;
import br.com.saqueepague.ApiException;
import br.com.saqueepague.ApiResponse;
import br.com.saqueepague.Configuration;
import br.com.saqueepague.Pair;
import br.com.saqueepague.ProgressRequestBody;
import br.com.saqueepague.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AuthResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AuthControllerApi {
    private ApiClient apiClient;

    public AuthControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for saqueepagueOauthTokenPost
     * @param grantType  (optional)
     * @param password  (optional)
     * @param username  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call saqueepagueOauthTokenPostCall(String grantType, String password, String username, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/saqueepague/oauth/token";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (grantType != null)
        localVarFormParams.put("grant_type", grantType);
        if (password != null)
        localVarFormParams.put("password", password);
        if (username != null)
        localVarFormParams.put("username", username);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call saqueepagueOauthTokenPostValidateBeforeCall(String grantType, String password, String username, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = saqueepagueOauthTokenPostCall(grantType, password, username, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retorna o token de autenticação do serviço.
     * Autentica o usuário e gera um token para a requisição de sonda.
     * @param grantType  (optional)
     * @param password  (optional)
     * @param username  (optional)
     * @return AuthResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AuthResp saqueepagueOauthTokenPost(String grantType, String password, String username) throws ApiException {
        ApiResponse<AuthResp> resp = saqueepagueOauthTokenPostWithHttpInfo(grantType, password, username);
        return resp.getData();
    }

    /**
     * Retorna o token de autenticação do serviço.
     * Autentica o usuário e gera um token para a requisição de sonda.
     * @param grantType  (optional)
     * @param password  (optional)
     * @param username  (optional)
     * @return ApiResponse&lt;AuthResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AuthResp> saqueepagueOauthTokenPostWithHttpInfo(String grantType, String password, String username) throws ApiException {
        com.squareup.okhttp.Call call = saqueepagueOauthTokenPostValidateBeforeCall(grantType, password, username, null, null);
        Type localVarReturnType = new TypeToken<AuthResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retorna o token de autenticação do serviço. (asynchronously)
     * Autentica o usuário e gera um token para a requisição de sonda.
     * @param grantType  (optional)
     * @param password  (optional)
     * @param username  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call saqueepagueOauthTokenPostAsync(String grantType, String password, String username, final ApiCallback<AuthResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = saqueepagueOauthTokenPostValidateBeforeCall(grantType, password, username, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AuthResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
